<div class="aligner">
  <mat-card class="aligner-center-item">
    
    <mat-card-title>
      Crear usuario
    </mat-card-title>
    <mat-card-content>
      <form id="login-form" #lForm="ngForm" [formGroup]="crearUsuario" (ngSubmit)="submitCrearUsuario()" >
        <mat-form-field style="width: 100%; margin-bottom: 10px;" [ngClass]="{'mat-input-invalid': submitted && error?.code == 1}">
          <input matInput type="text" formControlName="username" placeholder="Usuario"/>
          <mat-hint style="color: red;" *ngIf="submitted && error?.code == 1 && !crearUsuario.controls.username.hasError('required')">{{error.message}}</mat-hint>
          <mat-hint style="color: red;" *ngIf="submitted && crearUsuario.controls.username.hasError('required')">Field is mandatory</mat-hint>
        </mat-form-field>
        <mat-form-field style="width: 100%; margin-bottom: 10px;" [ngClass]="{'mat-input-invalid': submitted && error?.code == 1}">
          <input matInput type="text" formControlName="email" placeholder="Email"/>
          <mat-hint style="color: red;" *ngIf="submitted && error?.code == 1 && !crearUsuario.controls.email.hasError('required')">{{error.message}}</mat-hint>
          <mat-hint style="color: red;" *ngIf="submitted && crearUsuario.controls.email.hasError('required')">Field is mandatory</mat-hint>
        </mat-form-field>
        <mat-form-field style="width: 100%;" [ngClass]="{'mat-input-invalid': submitted && error?.code == 2}">
          <input matInput type="password" formControlName="password" placeholder="Contraseña"/>
          <mat-hint style="color: red;" *ngIf="submitted && error?.code == 2 && !crearUsuario.controls.password.hasError('required')">{{error.message}}</mat-hint>
          <mat-hint style="color: red;" *ngIf="submitted && crearUsuario.controls.password.hasError('required')">Field is mandatory</mat-hint>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions style="text-align: right;">
      <button mat-raised-button type="button" (click)='volver();' form="login-form"> Volver</button>
      <button mat-raised-button type="submit" form="login-form"> Crear usuario</button>
    </mat-card-actions>
  </mat-card>
</div>